<% n = 1 %>
<% @items.each do |feature| %>
  <li class="r<%= n %>">
	<span class='object_link'>
		<a href="<%= "#{feature.name}.html" %>"><%= h(feature.value) %></a>
	</span>
	<span class="">(<%= h(feature.file) %>)<span>
  </li>
  <% n = n == 2 ? 1 : 2 %>
<% end %>