<% n = 1 %>
<% @features.each do |feature| %>
  <li class="r<%= n %>">
	<span class='object_link'>
		<a href="<%= feature.filename %>"><%= feature.value %></a>
	</span>
	<span class="">(<%= feature.files.first.first %>)<span>
  </li>
  <% n = n == 2 ? 1 : 2 %>
<% end %>