<% n = 1 %>
<% @tags.each do |name,uses| %>
  <li class="r<%= n %>">
	<span class='object_link'>
		<a href="<%= uses.filename %>"><%= name %></a>
	</span>
	<!-- TODO: Tag count should include those directly affected and those indirectly affected -->
    <small><%= uses.tags.count %></small>
  </li>
  <% n = n == 2 ? 1 : 2 %>
<% end %>