<li>
  <%= linkify YARD::CodeObjects::Cucumber::CUCUMBER_TAG_NAMESPACE, "All Tags" %>
</li>
<% n = 1 %>

<% @items.each do |tag| %>
  <li class="r<%= n %>">
	<%= linkify tag, tag.value %>
	<small><%= tag.all_scenarios.size %></small>
  </li>
  <% n = n == 2 ? 1 : 2 %>
<% end %>