<div id="search">
  <a id="features_list_link" href="#">Features</a>
  <a id="tags_list_link" href="#">Tags</a>
  <a id="class_list_link" href="#">Class List</a>
  <a id="method_list_link" href="#">Method List</a>
  <a id ="file_list_link" href="#">File List</a>
</div>