<div class="title">
  <div class="name"><%= @item_title %></div>
  
  <% if @item_type %>
    <div class="control" id="<%= @item_type.gsub(/\s/,'') %>">[Collapse All]</div>
    <div style="clear: right;"></div>
  <% end %>
</div>

