<div class="title">
  <% if @item_type %>
     <a class="control" href="#" id="<%= @item_type.gsub(/\s/,'') %>">[Collapse All]</a>
     <div style="clear: right;"></div>
   <% end %>
 
  <div class="name"><%= @item_title %></div>
</div>

