<div class="title">
  <% if @item_type %>
     <a class="control" id="<%= @item_type.gsub(/\s/,'') %>">[Collapse All]</a>
     <div style="clear: right;"></div>
   <% end %>
 
  <% if @item_anchor_name %>
    <a name="<%= @item_anchor_name %>">
  <% end %>
  <div class="name"><%= @item_title %></div>
</div>

