<div class="requirements">
  <div class="title">Step Definitions &amp; Transforms</div>

  <div class="summary">
    <div><%= step_definitions.length %><a href="#step_definitions">Step Definitions</a></div>
    <div><%= step_transforms.length %><a href="#step_transforms">Step Transforms</a></div>
    <div><%= undefined_steps.length %><a href="#undefined_steps">Undefined Steps</a></div>
  </div>

</div>