
.feature {
	
}

.tags {
	font-family: monospace;
	font-size: 14px;
}


* .title {
	padding: 10px;
	font-size: 24px;	
}

.feature > .title {
	margin: 20px 20px 10px 20px;
	padding-left: 0px;
	border-bottom: 1px solid #E3E3E3;
}

.feature .meta .file {
	float: right;
	margin-right: 20px;
}

* .title .pre {
	color: #696969;
}

* .title .name {
	font-weight: bold;
	color: #3F3F3F;
}

.feature .meta { 
	margin-left: 30px;
	color: gray;
}

.feature .description {
	margin: 10px 20px 0px 30px;
	padding: 10px 20px 20px 10px;
/*	background-color: #F5F5F5;*/
	color: #343332;
/*	border: #C7C5C5 solid 1px;*/
	font-family: 'Trebuchet MS', Arial, Helvetica;
}

.odd {
 	background-color: #F0F6F9;
}

.even {
	background-color: #FFFFFF;
}


.feature #background {
	margin-top: 10px;
	margin-left: 20px;
}

.feature .scenario {
	margin-top: 40px;
	margin-left: 20px;
}

.scenario .title, #background .title {
	font-size: 16px;
	padding-left: 0px;
	margin: 0px 20px 0px 10px;
	border-bottom: 1px solid #E3E3E3;
}

.feature #background .title .pre {
	color: #346F97;
}


.scenario .steps, #background .steps {
	margin: 20px 20px 0px 30px;
	font-size: 12px;
}

.scenario .step, #background .step {
	padding: 4px;
	font-size: 14px;
	font-weight: bold;
}

.feature #background .title .name {}
.feature #background .description {}

.scenario .title .name {}
.scenario .description {}

.scenario .title .pre {
	color: #00AAD2;	
}

.scenario .tags {
	margin-left: 30px;
	margin-top: 10px;
}

.step .predicate {
	color: #5D5C5B;
}

.tag .member {
	margin: 10px 30px 10px 30px;
	padding: 20px;
}