<div id="features">
  <div class="title"><span class="name">Features</span></div>
</div>
<% i = 0 %>
<table>
  <tr>
    <td valign='top' width="33%">
      <% all_features_by_letter.sort_by {|l,o| l.to_s }.each do |letter, objects| %>
        <% if (i += 1) % 8 == 0 %>
        </td><td valign='top' width="33%">
          <% i = 0 %>
        <% end %>
        <ul id="alpha_<%= letter %>" class="alpha">
          <li class="letter"><%= letter %></li>
          <ul>
            <% objects.each do |obj| %>
              <li>
                <%= linkify obj, obj.value %>
                <% if !obj.namespace.root? %>
                  <small>(<%= obj.namespace.file %>)</small>
                <% end %>
              </li>
            <% end %>
          </ul>
        </ul>
      <% end %>
    </td>
  </tr>
</table>